## Домашнее задание к занятию №9 от 29.08.2019 г. «Оптимизация вычислений в Python и большие данные»
ФИО: Кривова Татьяна Сергеевна

**Задание 1**. Напишите функцию date_range, которая возвращает список дней между датами *start_date* и *end_date*. Даты должны вводиться в формате YYYY-MM-DD.

In [1]:
from datetime import date, timedelta

september = '2019-09-01'
today = date.today()

In [2]:
def date_range(start_date=september, end_date=today):
    '''Возвращает список дней между датами. Аргументы (str, либо datetime.date): start_date, end_date.'''
    spisok = []
    
    if type(start_date) == str: start_date = date.fromisoformat(start_date)
    if type(end_date) == str: end_date = date.fromisoformat(end_date)
    
    if start_date <= end_date:
        print(f'\nCписок дней между датами {start_date} и {end_date}:')
        
        while start_date < end_date:
            start_date += timedelta(days=1)
            if start_date != end_date: spisok.append(start_date.strftime('%a: %d.%m.%Y'))
    return spisok
    
date_range()

Cписок дней между датами 2019-09-01 и 2019-09-08:

['Mon: 02.09.2019',
 'Tue: 03.09.2019',
 'Wed: 04.09.2019',
 'Thu: 05.09.2019',
 'Fri: 06.09.2019',
 'Sat: 07.09.2019']

In [3]:
day_1 = input('Введите дату начала периода в формате YYYY-MM-DD: ') 
day_2 = input('Введите дату окончания периода в формате YYYY-MM-DD: ')

date_range(day_1, day_2)

Введите дату начала периода в формате YYYY-MM-DD: 2019-12-01
Введите дату окончания периода в формате YYYY-MM-DD: 2020-01-01

Cписок дней между датами 2019-12-01 и 2020-01-01:

['Mon: 02.12.2019',
 'Tue: 03.12.2019',
 'Wed: 04.12.2019',
 'Thu: 05.12.2019',
 'Fri: 06.12.2019',
 'Sat: 07.12.2019',
 'Sun: 08.12.2019',
 'Mon: 09.12.2019',
 'Tue: 10.12.2019',
 'Wed: 11.12.2019',
 'Thu: 12.12.2019',
 'Fri: 13.12.2019',
 'Sat: 14.12.2019',
 'Sun: 15.12.2019',
 'Mon: 16.12.2019',
 'Tue: 17.12.2019',
 'Wed: 18.12.2019',
 'Thu: 19.12.2019',
 'Fri: 20.12.2019',
 'Sat: 21.12.2019',
 'Sun: 22.12.2019',
 'Mon: 23.12.2019',
 'Tue: 24.12.2019',
 'Wed: 25.12.2019',
 'Thu: 26.12.2019',
 'Fri: 27.12.2019',
 'Sat: 28.12.2019',
 'Sun: 29.12.2019',
 'Mon: 30.12.2019',
 'Tue: 31.12.2019']

**Задание 2**. Дополните функцию из первого задания проверкой на корректность дат.

В случае неверного формата или если *start_date > end_date* должен возвращаться пустой список.

In [4]:
def date_range_check(start_date=september, end_date=today):
    '''Возвращает список дней между датами. Аргументы (str, либо datetime.date): start_date, end_date.'''
    spisok = []
    
    try:
        if type(start_date) == str: start_date = date.fromisoformat(start_date)
        if type(end_date) == str: end_date = date.fromisoformat(end_date)
    
        if start_date <= end_date:
            print(f'\nCписок дней между датами {start_date} и {end_date}:')
        
            while start_date < end_date:
                start_date += timedelta(days=1)
                if start_date != end_date: spisok.append(start_date.strftime('%a: %d.%m.%Y'))
        return spisok
    
    except Exception as e:
        print('\nНекорректный ввод:', e)
        return spisok

In [5]:
date_range_check()

Cписок дней между датами 2019-09-01 и 2019-09-08:

['Mon: 02.09.2019',
 'Tue: 03.09.2019',
 'Wed: 04.09.2019',
 'Thu: 05.09.2019',
 'Fri: 06.09.2019',
 'Sat: 07.09.2019']

In [6]:
day_1 = input('Введите дату начала периода в формате YYYY-MM-DD: ') 
day_2 = input('Введите дату окончания периода в формате YYYY-MM-DD: ')

date_range_check(day_1, day_2)

Введите дату начала периода в формате YYYY-MM-DD: fyi
Введите дату окончания периода в формате YYYY-MM-DD: boo

Некорректный ввод: Invalid isoformat string: 'fyi'

[]

**Задание 3**. Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения. Напишите функцию, которая проверяет эти даты на корректность. Т.е. для каждой даты возвращает *True* (дата корректна) или *False* (некорректная дата).

In [7]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

from datetime import date

In [8]:
def check_correctness(spisok=stream):
    '''Проверяет на корректность даты из списка. Аргумент(list): spisok.'''
    for element in spisok:
        try:
            test = date.fromisoformat(element)
            print (f'{element}: True (дата корректна)')
        except:
            print (f'{element}: False (некорректная дата)')

In [9]:
check_correctness()

2018-04-02: True (дата корректна)
2018-02-29: False (некорректная дата)
2018-19-02: False (некорректная дата)

**Задание 4**. В последнем примере поиска по словарю мы использовали 3 столбца. Напишите функцию, которая формирует словарь для поиска по n столбцам.

In [10]:
import pandas as pd

In [11]:
sales = pd.read_csv('games_sales_2016.csv') # учебный файл с 16 столбцами
sales.head(10)
sales.info()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Verification1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Verification2,fyi,fyi,fyi,fyi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
4,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
5,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
7,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
8,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
9,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16409 entries, 0 to 16408
Data columns (total 16 columns):
Name               16407 non-null object
Platform           16408 non-null object
Year_of_Release    16141 non-null object
Genre              16406 non-null object
Publisher          16355 non-null object
NA_Sales           16407 non-null float64
EU_Sales           16407 non-null float64
JP_Sales           16407 non-null float64
Other_Sales        16407 non-null float64
Global_Sales       16407 non-null float64
Critic_Score       8031 non-null float64
Critic_Count       8031 non-null float64
User_Score         9863 non-null object
User_Count         7478 non-null float64
Developer          9942 non-null object
Rating             9800 non-null object
dtypes: float64(8), object(8)
memory usage: 1.5+ MB

In [12]:
def create_dictionary(file='games_sales_2016.csv', n=5):
    '''Формирует словарь для поиска по n столбцам. Аргументы (csv-файл, int): file, n.'''
    dictionary = {}
    with open(file) as f:
        for line in f:
            line = line.strip().split(',')
            if n == 1: dictionary[line[0]] = line[1:]
            else:
                dictionary[tuple(line[:n])] = line[n:]
    return dictionary

In [13]:
create_dictionary(n=1).get("Sid Meier's Civilization V")

['PC',
 '2010',
 'Strategy',
 'Take-Two Interactive',
 '0.98',
 '0.52',
 '0',
 '0.17',
 '1.68',
 '90',
 '70',
 '7.9',
 '2280',
 'Firaxis Games',
 'E10+']

In [14]:
new_dict_4 = create_dictionary(n=4)
element_to_find = ("Sid Meier's Civilization V", 'PC', '2010', 'Strategy')
mismatch = ('Verification1', '0', '0', '0')

new_dict_4.get(element_to_find)
new_dict_4.get(mismatch, 'Not found')

['Take-Two Interactive',
 '0.98',
 '0.52',
 '0',
 '0.17',
 '1.68',
 '90',
 '70',
 '7.9',
 '2280',
 'Firaxis Games',
 'E10+']

'Not found'