## Лабораторная работа Python от 07.09.2019 г.
ФИО: Кривова Татьяна Сергеевна

**Задача 1**. Дана строка *string_01*:
    1. Посчитайте, сколько в строке символов (исключая пробелы).
    2. Посчитайте, сколько в строке слов.
    3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
    4. Не обязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “m”).

In [1]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead.\
 Mama, life had just begun, but now I've gone and thrown it all away.\
 Mama, ooh (any way the wind blows), didn't mean to make you cry.\
 If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [2]:
len(string_01.replace(' ', '')) # количество символов в строке (исключая пробелы)

250

In [3]:
len(string_01.split()) # количество слов в строке

61

In [4]:
# выводит все слова из строки, заканчивающиеся на определенную букву
def find_end(line=string_01, letter='s'):
    '''Возвращает все слова из строки line, заканчивающиеся на букву letter. Аргументы (str): line, letter.'''
    words = line.replace(',', '').replace(')', '').replace('.', '').split()
    result = ''
    for word in words:
        if word[-1] == letter: 
            result += word + ' '
    return result.rstrip()

find_end(letter='n')

'man gun begun thrown mean again on on'

In [5]:
# выводит слова из строки, начинающиеся на определенную букву: без учета регистра буквы и без повтора слов
def find_first_letter(line=string_01, letter='m'):
    '''Возвращает слова из строки line, начинающиеся на букву letter. Аргументы (str): line, letter.'''    
    words = line.replace(',', '').replace(')', '').replace('.', '').replace('(', '').split()
    result = []
    for word in words:
        if word[0].lower() == letter.lower() and word not in result:
            result.append(word)
    return ' '.join(result)
    
find_first_letter(letter='a')

'a against and all away any again as'

**Задача 2**. Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна определяться случайным образом. Результат должен быть строкой. Например: *"456309"* или *"330127"*.

In [6]:
import random as rnd

sequence = [str(rnd.randint(0, 9)) for _ in range(6)]

if '3' not in sequence:
    index_for_three = rnd.randint(0, 5)
    sequence[index_for_three] = '3'

''.join(sequence)

'493458'

**Задача 3**. Дан список *list_01*. Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100.

In [7]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [8]:
result = 0
for element in list_01:
    if element > 10 and element < 100: result += element

result

212

**Задача 4**. Данные студентов представлены в виде списка списков *students*:
    1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.
    2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.
    3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [9]:
students = [
        ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],
        ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],
        ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
        ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
        ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
        ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
        ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
        ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]
            ]

In [10]:
dictionary = {}
for student in students:
    dictionary[student[0]] = student[1:]

dictionary

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [11]:
def change_group(student_id, new_group):
    '''Изменяет номер группы студента в словаре на новый. Аргументы (str): student_id, new_group.'''
    if dictionary.get(student_id):
        dictionary[student_id][-1] = new_group
        return dictionary
    else: print(f"Некорректный ввод: ID студента '{student_id}' отсутствует")

In [12]:
change_group(0, 'TBD')

change_group('1102', 'fyi')

Некорректный ввод: ID студента '0' отсутствует

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'fyi'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [13]:
def find_students_by_group(group_id):
    '''Возвращает список ФИО всех студентов по номеру группы. Аргумент (str): group_id.'''
    spisok = []
    for element in dictionary.values():
        if element[4] == group_id: 
            spisok.append (element[0] + ' ' + element[1] + ' ' + element[2])
    if spisok:
        return spisok
    else: print(f"Некорректный ввод: группа '{group_id}' отсутствует")

In [14]:
find_students_by_group(0)

find_students_by_group('БСТ163')

Некорректный ввод: группа '0' отсутствует

['Глаголева Анастасия Николаевна', 'Шафутинский Михаил Михайлович']

**Задача 5**. Дана матрица *matrix*:
    1. Выведите результат сложения всех элементов матрицы.
    2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [15]:
matrix = [
            [0, 1, 2, 4, 8],
            [6, 2, 2, 1, 9],
            [3, 3, 3, 3, 3],
            [4, 6, 7, 1, 2],
            [5, 7, 3, 4, 0]
        ]
# type(matrix) --> list

In [16]:
result = 0
spisok = [0 for _ in range(len(matrix))]

for element in matrix: # сложение всех элементов списка списков
    result += sum(element)
result

for element in matrix: # суммирую элементы каждого столбца и беру максимум
    for index in range(len(element)):
        spisok[index]+=element[index]
max(spisok)

89

22

In [17]:
import numpy as np

np.array(matrix).sum()

max(np.array(matrix).sum(axis=0))

89

22